<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/apple-icon-180x180.png">
  <link href="../static/assets/favicon.ico" rel="icon">

  <title>Title page</title>  

<link href="../static/style.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">I : Home</a></li>
          <li><a href="./works.html" title="">II : Works</a></li>
          <li><a href="./about.html" title="">III : About me</a></li>
          <li><a href="./contact.html" title="">IV : Contact</a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
  <div class="container">
    <div class="row">

      <h3>SIDER: 06/2020 - 10/2020</h3>
      <h4>SIDER is steel production factory in Izmir. I have worked full time doing all the tasks associated with computers and electronics. İmproved my
        knowledge in robotics used in factories.
      </h4>

      <h3>ITU BIDB: 09/2021</h3>
      <h4>Started working in Istanbul Technical Universtiy Information Processing Department as a student assistant.
      </h4>

      <h3>OTHER: 2014 - 2020</h3>
      <h4>I have been working since ı was 14 in variaty of jobs such as waiter, electronic technician, constructor, etc. 
      </h4>

    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>


 <script type="text/javascript" src="../static/script.js"></script></body>

</html>